h1 {
  text-align: center;
  padding-top: 10px;
}

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 432px; /*180px*/
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
